/* ButtonList.css */

.button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-list .word-button {
  animation: fadeIn 0.5s ease-in-out;
  width: auto;
  margin: 5px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




