.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px; /* Adjust height as needed */
  background-color: var(--background-color); /* Match the body's background color */
  box-sizing: border-box;
  z-index: 10; /* Ensure it stays above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}




