/* TextField.css */

.text-field-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.text-field-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.text-field-input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-text-color);
  padding: 12px 15px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.text-field-input:focus {
  border-color: var(--text-color);
}

.suggestions-list {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%;
  border: 1px solid var(--input-text-color);
  border-radius: 5px;
  background-color: var(--input-background-color);
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.suggestions-list li:hover {
  background-color: var(--input-text-color);
  color: var(--input-background-color);
  border-radius: 5px;
}



  
  
  
  
  