html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color); /* Use CSS variables for themes */
  color: var(--text-color);
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

.light {
  --background-color: white;
  --text-color: black;
  --input-background-color: #f0f0f0;
  --input-text-color: #000;
}

.dark {
  --background-color: #1c1c1c; /* Softer dark gray */
  --text-color: #e0e0e0; /* Light gray text */
  --input-background-color: #333; /* Darker background for input in dark mode */
  --input-text-color: #e0e0e0; /* Light text for input in dark mode */
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 50px; /* Adjust to avoid overlapping with header */
  background-color: var(--background-color); /* Match the body's background color */
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px); /* Adjust height to account for header and footer */
  padding: 20px;
  box-sizing: border-box;
}

.text-field-container {
  text-align: center;
  flex: 0.3; /* Adjust the flex to make the text field container smaller */
  margin-right: 20px;
}

.text-field-container h2 {
  margin-bottom: 20px;
}

.text-field {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-text-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.aura-container {
  flex: 0.7; /* Adjust the flex to make the aura container larger */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}















